.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

/*.popup form label,*/
/*.popup form input,*/
/*.popup form textarea,*/
/*.popup form button {*/
/*    margin: 10px 0;*/
/*}*/

/*.popup form button {*/
/*    background-color: teal;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*}*/

.popup form button:hover {
    background-color: darkcyan;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
}